.header {
    background-color: #1e00460c;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px;
}

.header button {
    border: none;
    background: none;
    font-size: 25px;
}

.header h2 {
    font-size: 3em;
}

.navBar{
    background-color: #e4e4e4;
    display: block;
    position: absolute;
    top: 11vh;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 20;
}

.navBar a {
    color: #242020;
    text-decoration: none;
    font-size: 23px;
    display: block;
    border-radius: 5px;
    padding: 50px 20px;
    margin: 10px 26px 10px 0px ;
}

.navBar a:hover {
    background-color: #24202015;
}